  .menu {
    margin: 2.5em 0 0 0;
  }

  #nav > ul {
   margin: 0;
 }

 #nav > ul > li {
  display: inline-block;
  font-style: italic;
  margin: 0.35em 0.35em 0.35em 0.35em;
  font-size: 18px;
}

#nav > ul > li > ul {
 display: none;
}

#nav > ul > li > a {
 border-radius: 5px;
 color: #fff;
 text-decoration: none;
 padding: 0.6em 1.2em 0.6em 1.2em;
 -moz-transition: background-color .25s ease-in-out;
 -webkit-transition: background-color .25s ease-in-out;
 -ms-transition: background-color .25s ease-in-out;
 transition: background-color .25s ease-in-out;
 outline: 0;
}

#nav > ul > li:hover > a, #nav > ul > li.active > a {
 background: #f3f3f3;
 color: black;
}

#nav > ul > li.current > a {
 background: #d52349;
 color: #fff !important;
 font-weight: 700;
}
#nav {
  li{
    float: left;
    position: relative;
  }
  ul ul{
    position: absolute;
    width:200px;
    background: white;
    display: none;
    li{
      float:none;
      a{
        color:black;
        display: block;
        padding:5px;
        border-bottom: 1px solid whitesmoke;
        &:hover{
          background: white;
          color:black;
          text-decoration: none;
        }
      }
    }
  }
}
